.form-group {
    max-width: 300px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
.login-form {
    width: 100%;
    max-width: 400px; /* Maximum width of the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}
.login-form form {
    display: flex;
    flex-direction: column;
}
.login-form form p {
    margin-bottom: 15px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.login-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
}